
@font-face {
  font-family: 'FilosofiaAllSmallCapsOT';
  src: url('FilosofiaAllSmallCapsOT.eot');
  src: url('FilosofiaAllSmallCapsOT.eot?#iefix') format('embedded-opentype'),
       url('FilosofiaAllSmallCapsOT.svg#FilosofiaAllSmallCapsOT') format('svg'),
       url('FilosofiaAllSmallCapsOT.ttf') format('truetype'),
       url('FilosofiaAllSmallCapsOT.woff') format('woff'),
       url('FilosofiaAllSmallCapsOT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FilosofiaOT';
  src: url('FilosofiaOT.eot');
  src: url('FilosofiaOT.eot?#iefix') format('embedded-opentype'),
       url('FilosofiaOT.svg#FilosofiaOT') format('svg'),
       url('FilosofiaOT.ttf') format('truetype'),
       url('FilosofiaOT.woff') format('woff'),
       url('FilosofiaOT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FilosofiaSmallCapsOT';
  src: url('FilosofiaSmallCapsOT.eot');
  src: url('FilosofiaSmallCapsOT.eot?#iefix') format('embedded-opentype'),
       url('FilosofiaSmallCapsOT.svg#FilosofiaSmallCapsOT') format('svg'),
       url('FilosofiaSmallCapsOT.ttf') format('truetype'),
       url('FilosofiaSmallCapsOT.woff') format('woff'),
       url('FilosofiaSmallCapsOT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicLTPro-BkCm';
  src: url('FranklinGothicLTPro-BkCm.eot');
  src: url('FranklinGothicLTPro-BkCm.eot?#iefix') format('embedded-opentype'),
       url('FranklinGothicLTPro-BkCm.svg#FranklinGothicLTPro-BkCm') format('svg'),
       url('FranklinGothicLTPro-BkCm.ttf') format('truetype'),
       url('FranklinGothicLTPro-BkCm.woff') format('woff'),
       url('FranklinGothicLTPro-BkCm.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicLTPro-DmCm';
  src: url('FranklinGothicLTPro-DmCm.eot');
  src: url('FranklinGothicLTPro-DmCm.eot?#iefix') format('embedded-opentype'),
       url('FranklinGothicLTPro-DmCm.svg#FranklinGothicLTPro-DmCm') format('svg'),
       url('FranklinGothicLTPro-DmCm.ttf') format('truetype'),
       url('FranklinGothicLTPro-DmCm.woff') format('woff'),
       url('FranklinGothicLTPro-DmCm.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicLTPro-DmXCm';
  src: url('FranklinGothicLTPro-DmXCm.eot');
  src: url('FranklinGothicLTPro-DmXCm.eot?#iefix') format('embedded-opentype'),
       url('FranklinGothicLTPro-DmXCm.svg#FranklinGothicLTPro-DmXCm') format('svg'),
       url('FranklinGothicLTPro-DmXCm.ttf') format('truetype'),
       url('FranklinGothicLTPro-DmXCm.woff') format('woff'),
       url('FranklinGothicLTPro-DmXCm.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}